{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <title>Story Bloom</title>
		<link type="text/css" rel="stylesheet" href="{% static 'css/blogs/common.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/blogs/index.css' %}">
	</head>
	<body>
		{% include "blogs/site-header.html" %}
		<main class="sitecontent l-sitecontent">
			{% for post in posts %}
				<div class="post">
					<header class="post-header">
						<h3>{{post.title}}</h3>
					</header>
					<div class="post-content">
						<p>{{post.post}}</p>
					</div>	
					<footer class="post-footer">
						<span class="post-author">
							{{post.author}}
						</span>
						<span class="post-date">
							{{post.pub_date}}
						</span>
					</footer>		
				</div>
			{% endfor %}
		</main>
	</body>
	<script type="text/javascript" src="{% static 'scripts/bootstrap/bootstrap.min.js' %}"></script>
</html>