{% load staticfiles %}
 <div class="navbar"> 
    <div class="navbar-inner">
        <div class="container>">
            
    <a href="#" id="menu-icon" data-toggle="collapse" data-target=".nav-collapse"></a>
   
    <ul class="nav-collapse">
         <li>      
            <a href="home.html" title=""><img src="http://placehold.it/25/25"><span>Home</span></a>   
        </li> 
        <li>     
            <a href="crafts.html" title=""><img src="http://placekitten.com/25/25"><span>DIY</span></a>   
        </li> 
        <li> 
            <a  href="photography.html" title=""><img src="http://placekitten.com/25/25"><span>Photography</span></a>
        </li>
        <li> 
            <a  href="recipes" title=""><img src="http://placekitten.com/25/25"><span>Recipes</span></a> 
        </li>
        <li> 
            <a  href="Everyday life" title=""><img src="http://placekitten.com/25/25"><span>Everyday</span></a>
        </li>
        <li> 
             <a  href="About" title=""><img src="http://placekitten.com/25/25"><span>About</span></a>
        </li>

   
    </ul>
        </div>
    </div>
  </div>